div{
    width:50px;
    height:50px;
    margin: 50px auto;
    margin-top: 300px;
	background: #5885cb;
	border-radius: 50px;
	
}

.breathing-button {
    width:50px;
    height:50px;
    margin: 50px auto;
    margin-top: 300px;
    -webkit-animation: breathing 5s ease-in-out infinite normal;
    animation: breathing 5s ease-in-out infinite normal;
    font-size: 22px;
    text-align: center;  
    background: #5885cb;
    box-shadow: 10px 10px 50px #888888;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 50px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(5);
    transform: scale(5);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}